body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.details {
  padding-top: 200px;
  padding-bottom: 50px;
}

.statement > p {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.contact {
  font-size: 1.2em;
}

.align-center_to_left, .align-center_to_right {
  text-align: center;
}

@media screen and (min-width: 550px) {
  .align-center_to_left {
    text-align: left;
  }

  .align-center_to_right {
    text-align: right;
  }
}

