html {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

body {
  color: #7A7A79;
}

h1, h2, h3, h4, h5, h6 {
  color: #252525;
  font-family: 'Roboto Slab', serif;
}

h3, h4, h5, h6 {
  /* Even though we have the color set on h3,h4,h5,h6 above
     this setting will be overridden since this statement
     comes after in the hierarchy */
  color: #007FAB
}

ul, li {
  list-style: none;
}

li {
  margin-left: 50px;
  line-height: 1.5em;
  font-size: 20px;
}

li::before {
  content: "•";
  color: #007FAB;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.details {
  padding-top: 200px;
  padding-bottom: 50px;
}

.statement > p {
  text-align: center;
}

.align-center_to_left, .align-center_to_right {
  text-align: center;
}

.split-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.employment-date {
  font-size: 1.1em;
  position: relative;
  top: 13px;
}

.company {
  font-family: 'Montserrat', sans-serif;
  color: #7A7A79;
}

.divider {
  display: block;
  background-color: #C0C0BF;
  height: 1px;
  width: 100%;
  max-width: 960px;
  margin: 50px auto;
}

@media screen and (min-width: 550px) {
  .align-center_to_left {
    text-align: left;
  }

  .align-center_to_right {
    text-align: right;
  }
}

